<config>
	<java_dir>E:\Programming\FromTheTweet\TweetAdvisorWinClient\StockAnalyzer.Site\Resources\JavaCode</java_dir>
	<tweets_dir>E:\Programming\FromTheTweet\TweetAdvisorWinClient\StockAnalyzer.Site\Resources\Tweets</tweets_dir>
	<results_dir>E:\Programming\FromTheTweet\TweetAdvisorWinClient\StockAnalyzer.Site\Resources\Results</results_dir>
	<hadoop_master_node>192.168.196.128</hadoop_master_node>
	<hadoop_user>training</hadoop_user>
	<hadoop_pass>training</hadoop_pass>
</config>